<div class="form form-border">
  <h4>Informacija apie jūsų pageidaujamą paskolą</h4>

  <div class="row gutters text-right">
    <div class="col col-4">
      <p>Pageidaujama paskolos suma</p>
    </div>
    <div class="col col-6">
      <input value="{{loanSum}}" type='range' min="245" max="58000" [(ngModel)]="loanSum">
    </div>
    <div class="col col-2">
      <div class="form-item">
        <div class="append">
          <input value="{{loanSum}}" [(ngModel)]="loanSum" class="mozilla-fix noMonth requiredLoan" type="number"><span>Eur</span>
        </div>
      </div>

    </div>
  </div>


  <div class="row gutters text-right">
    <div class="col col-4">
      <p>Paskolos laikotarpis</p>
    </div>
    <div class="col col-6">
      <input value="{{loanTime}}" type='range' min="1" max="60" step="1" [(ngModel)]="loanTime">
    </div>
    <div class="col col-2">
      <div class="form-item">
        <div class="append">
          <input value="{{loanTime}}" [(ngModel)]="loanTime" class="mozilla-fix noMonth minimumTime" type="number"><span>Mėn</span>
        </div>
      </div>

    </div>
  </div>




<div class="row gutters text-right">
  <div class="col col-4">
    <p>Paskolą imsiu</p>
  </div>
  <div class="col col-6">
    <div class="form-item form-checkboxes text-left">
      <label class="checkbox"><input value="alone" type="radio" name="loan-type" checked> Vienas</label>
      <label class="checkbox"><input value="spouse" type="radio" name="loan-type"> Su sutuoktiniu (bendraskoliu)</label>
    </div>
  </div>
</div>

<hr>
<h4>Informacija apie jūsų pajamas</h4>

<div class="row gutters text-right">
  <div class="col col-4">
    <p>Jūsų grynosios mėnesio pajamos</p>
  </div>
  <div class="col col-6">
    <input value="{{incomeAmountPerson}}" type='range' min="500" max="10000" step="50" [(ngModel)]="incomeAmountPerson">
  </div>
  <div class="col col-2">
    <div class="form-item">
      <div class="append">
        <input value="{{incomeAmountPerson}}" [(ngModel)]="incomeAmountPerson" class="mozilla-fix noMonth minimumPay" type="number">
        <span>Eur/Mėn</span>
      </div>
    </div>
  </div>
</div>

<div class="extraInfoSpouse row gutters text-right hidden">
  <div class="col col-4">
    <p>Sutuoktinio (bendraskolio) grynosios mėnesio pajamos</p>
  </div>
  <div class="col col-6">
    <input value="{{incomeAmountSpouse}}" type='range' min="500" max="10000" step="50" [(ngModel)]="incomeAmountSpouse">
  </div>
  <div class="col col-2">
    <div class="form-item">
      <div class="append">
        <input value="{{incomeAmountSpouse}}" [(ngModel)]="incomeAmountSpouse" class="mozilla-fix noMonth minimumPay" type="number">
        <span>Eur/Mėn</span>
      </div>
    </div>
  </div>
</div>

  <div class="form-item">
    <button class="calculateButton" (click)="calculatePayments()">Skaičiuoti</button>
  </div>

</div>

<app-loan-tables class="app-loan-tables hidden" [loanArrayOutput]="loanArray" [loanSumOutput]="loanSum"></app-loan-tables>
