<form method="post" action="" class="form form-border">
  <h3>Preliminarus paskolos paskaičiavimas</h3>
  <hr>
  <br>

  <table>
    <thead>
    <tr>
      <th>Mėnesis</th>
      <th>Likusi suma</th>
      <th>Mėnesinė įmoka</th>
      <th>Mėnesinė palūkanų įmoka</th>
      <th>Sutarties mokestis</th>
    </tr>
    </thead>
    <tbody>
    <span *ngIf="loanArray.length > 0">
      <tr *ngFor="let payment of loanArray">
      <th>{{payment.monthNumber}}</th>
      <th>{{payment.leftSum}}</th>
      <th>{{payment.monthlySum}}</th>
      <th>{{payment.monthlyInterestSum}}</th>
      <th>???</th>
    </tr>
    </span>
    </tbody>
  </table>

  <div class="form-item">
    <button type="submit">Pildyti paraiškas</button>
  </div>
</form>
