<div class="form form-border">
  <h3>Preliminarus paskolos paskaičiavimas</h3>
  <hr>
  <br>

  <h4>Sutarties sudarymo mokestis: {{(loanSumOutput * 0.015).toFixed(2)}}</h4>
  <table>
    <thead>
    <tr>
      <th>Mėnesis</th>
      <th>Likusi suma</th>
      <th>Mėnesinė įmoka</th>
      <th>Mėnesinė palūkanų suma</th>
      <th>Sutarties administravimo mokestis</th>
    </tr>
    </thead>
    <tbody>
    <tr></tr>
    <tr *ngFor="let payment of loanArrayOutput">
      <th>{{payment.monthNumber}}</th>
      <th>{{payment.leftSum}}</th>
      <th>{{payment.monthlySum}}</th>
      <th>{{payment.monthlyInterestSum}}</th>
      <th>{{payment.usualServiceSum}}</th>
    </tr>


    </tbody>
  </table>

  <div class="form-item">
    <button [routerLink]="['/formCompletion']">Pildyti paraišką</button>
  </div>
</div>

<router-outlet></router-outlet>
