<form class="form form-border">


  <nav class="breadcrumbs">
    <ul>
      <li><a [routerLink]="['/']">{{'FORM.1' | translate}}</a></li>
      <li><span>{{'FORM.2' | translate}}</span></li>
    </ul>
  </nav>

  <h4 class="text-left">{{'FORM.TITLE' | translate}}</h4>
  <hr>
  <br>

  <!-- Paskolos suma-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.SUM' | translate}}<span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-2">
      <div class="form-item">
        <input type="number" min="500" max="58000" step="500" #sum>
      </div>
    </div>
  </div>

  <!-- Paskolos terminas -->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.TERM' | translate}} <span class="req">*</span></label>
      </div>
    </div>




    <div class="col col-2">
      <div class="form-item">
        <input type="number" min="3" max="60" #term>
        <div class="desc">{{'FORM.MĖN' | translate}}</div>
      </div>
    </div>
  </div>

  <!-- Paskolos uzpildymas-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.DAY' | translate}}<span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-1">
      <div class="form-item">
        <input type="number" min="1" max="28" #payDay>
      </div>
    </div>
  </div>

  <br>

  <!-- Vardas -->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.NAME' | translate}} <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <input type="text" #name>
      </div>
    </div>
  </div>

  <!-- Pavarde-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.SURN' | translate}} <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <input type="text" #surName>
      </div>
    </div>
  </div>

  <!-- Asmens kodas-->
  <div class="row gutters ">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.CODE' | translate}} <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <input type="text" maxlength="11" #personalCode>
      </div>
    </div>
  </div>

  <!-- Asmens dokumento tipas-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.TYPE' | translate}} <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <select #documentType>
          <option>Pasas</option>
          <option>Tapatybės kortelė</option><
          <option>Leidimas gyventi Lietuvoje</option><
        </select>

      </div>
    </div>
  </div>

  <!-- Asmens dokumento tipas-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.NR' | translate}} <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <input type="text" maxlength="8" #documentNumber>
      </div>
    </div>
  </div>

  <h4 class="text-left">{{'FORM.CONTACT' | translate}}</h4>
  <hr>
  <br>

  <!-- Šalis-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.COUNTRY' | translate}} <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <select id="down" #country>
          <option value="lt">Lietuva</option>
          <option value="ln">Lenkija</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Miestas ar apskritis-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.CITY' | translate}}<span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item " >
        <select id="down2" #city>
          <option value="vilnius">Vilnius</option>
          <option value="kaunas">Kaunas</option>
        </select>
    </div>
  </div>
  </div>

  <!-- Adresas-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.ADDRESS' | translate}}<span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <input type="text" name="" value="" #address>
      </div>
    </div>
  </div>

  <!-- Telefonas -->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.TEL' | translate}}  <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-1">
    </div>
    <div class="col col-2">
      <input type="text" max="9" name="" value="" #phoneNumber>
    </div>
  </div>


  <!-- El.paštas -->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.EMAIL' | translate}} <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <input type="email" name="" value="" #email>
      </div>
    </div>
  </div>

  <!-- Mėnesinis atlyginimas atskaičius mokesčius -->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.SALARY' | translate}}<span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-2">
      <div class="form-item">
        <input type="number" min="245" step="5" name="" value="" #income>
      </div>
    </div>
  </div>

  <div class="form-item">
    <label><br></label>
    <button data-component="modal" data-target="#confirmation-modal">{{'FORM.FINISH1' | translate}}</button>
    <button data-component="modal" data-target="#confirmation-modal"
            (click)="onSubmit(
            sum.value,
            term.value,
            payDay.value,
            name.value,
            surName.value,
            personalCode.value,
            documentType.value,
            documentNumber.value,
            country.value,
            city.value,
            address.value,
            phoneNumber.value,
            email.value,
            income.value)">{{'FORM.FINISH2' | translate}}</button>
  </div>

</form>


<!-- Confirmation modal-->
<div id="confirmation-modal" class="modal-box hide">
  <div class="modal">
    <span class="close"></span>
    <div class="modal-header">
      <h3>{{'FORM.FINISH3' | translate}}</h3>
    </div>
    <div class="modal-body">
      <h3>{{'FORM.CODE' | translate}}:
        <span class="code">616813asd1a5</span>
      </h3>
    </div>
  </div>
</div>
