<div class="form form-border">

  <h4 class="text-left">Asmens duomenys</h4>
  <hr>
  <br>

  <!-- Paskolos suma-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>Paskolos suma <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-2">
      <div class="form-item">
        <input type="text">
      </div>
    </div>
  </div>

  <!-- Paskolos terminas -->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>Paskolos terminas <span class="req">*</span></label>
      </div>
    </div>

    <div class="col col-2">
      <div class="form-item">
        <select><option>---</option></select>
        <div class="desc">metai</div>
      </div>
    </div>

    <div class="col col-2">
      <div class="form-item">
        <select><option>---</option></select>
        <div class="desc">mėnesiai</div>
      </div>
    </div>
  </div>

  <!-- Paskolos uzpildymas-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>Paskolos ir palūkanų mokėjimo diena <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-1">
      <div class="form-item">
        <input type="number">
      </div>
    </div>
  </div>

  <br>

  <!-- Vardas -->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>Vardas <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <input type="text">
      </div>
    </div>
  </div>

  <!-- Pavarde-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>Pavardė <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <input type="text">
      </div>
    </div>
  </div>

  <!-- Asmens kodas-->
  <div class="row gutters ">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>Asmens kodas <span class="req">*</span></label>
        <span class="documentCodeError">Prašau įvesti teisingus duomenis</span>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <!-- error class for incorrect input - length == 11 -->
        <input type="number" class="documentCodeInput documentCodeError">
      </div>
    </div>
  </div>

  <!-- Asmens dokumento tipas-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>Asmens dokumento tipas <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <select><option>---</option></select>
      </div>
    </div>
  </div>

  <!-- Asmens dokumento tipas-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>Dokumento numeirs <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <input type="text">
      </div>
    </div>
  </div>

  <h4 class="text-left">Kontaktiniai duomenys</h4>
  <hr>
  <br>

  <!-- Šalis-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>Šalis <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <select><option>Lietuva</option></select>
      </div>
    </div>
  </div>

  <!-- Miestas ar apskritis-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>Miestas ar apskritis <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <select><option>---</option></select>
      </div>
    </div>
  </div>

  <!-- Adresas-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>Adresas<span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <input type="text" name="" value="">
      </div>
    </div>
  </div>

  <!-- Telefonas -->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>Telefonas 1 <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-1">
      <select><option>+370</option></select>
    </div>
    <div class="col col-2">
      <input type="text" name="" value="">
    </div>
  </div>


  <!-- El.paštas -->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>El.paštas <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <input type="email" name="" value="">
      </div>
    </div>
  </div>

  <!-- Mėnesinis atlyginimas atskaičius mokesčius -->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>Mėnesinis atlyginimas atskaičius mokesčius <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-2">
      <div class="form-item">
        <input type="text" name="" value="">
      </div>
    </div>
  </div>

  <div class="form-item">
    <label><br></label>
    <button data-component="modal" data-target="#confirmation-modal">Išsaugoti vėlesniam užbaigimui</button>
    <button data-component="modal" data-target="#confirmation-modal">Pateikti</button>
  </div>

</div>
