<form class="form form-border" data-toggle="validator" role="form"
      id="form" method="post" action="#">


  <nav class="breadcrumbs">
    <ul>
      <li><a [routerLink]="['/']">{{'FORM.1' | translate}}</a></li>
      <li><span>{{'FORM.2' | translate}}</span></li>
    </ul>
  </nav>

  <h4 class="text-left">{{'FORM.TITLE' | translate}}</h4>
  <hr>
  <br>

  <!-- Paskolos suma-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.SUM' | translate}}<span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-2">
      <div class="form-item">
        {{ loanSumOut }}
        <input type="number" value="{{ loanSumOut }}" min="500" max="58000" step="500" disabled #sum>
      </div>
    </div>
  </div>

  <!-- Paskolos terminas -->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label for="month">{{'FORM.TERM' | translate}} <span class="req">*</span></label>
      </div>
    </div>




    <div class="col col-2">
      <div class="form-item">
        <input type="number" id="month" name="month" min="3" max="60" #term>
        <div class="desc">{{'FORM.MĖN' | translate}}</div>
      </div>
    </div>
  </div>

  <!-- Paskolos uzpildymas-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label for="day">{{'FORM.DAY' | translate}}<span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-2">
      <div class="form-item">
        <input type="number" id="day" name="day" min="1" max="28" #payDay>
      </div>
    </div>
  </div>

  <br>

  <!-- Vardas -->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label for="name">{{'FORM.NAME' | translate}}
          <span class="req">*</span>
        </label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <input type="text" name="name" id="name" required #name>
      </div>
    </div>
  </div>

  <!-- Pavarde-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label for="surname">{{'FORM.SURN' | translate}}<span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <input type="text" name="surname" id="surname" required #surName>
      </div>
    </div>
  </div>

  <!-- Asmens kodas-->
  <div class="row gutters ">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label for="code">{{'FORM.CODE' | translate}} <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <input type="text" name="code" id="code" maxlength="11" required #personalCode>
      </div>
    </div>
  </div>

  <!-- Asmens dokumento tipas-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.TYPE' | translate}} <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <select name="type" id="type" required #documentType>
          <option>{{'FORM.PASSPORT' | translate}}</option>
          <option>{{'FORM.CARD' | translate}}</option>
          <option>{{'FORM.PERM' | translate}}</option>
        </select>

      </div>
    </div>
  </div>

  <!-- Asmens dokumento tipas-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label for="number">{{'FORM.NR' | translate}} <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <input type="number" id="number" name="number" maxlength="8" #documentNumber>
      </div>
    </div>
  </div>

  <h4 class="text-left">{{'FORM.CONTACT' | translate}}</h4>
  <hr>
  <br>

  <!-- Šalis-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.COUNTRY' | translate}} <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <select id="down" #country>
          <option value="lt">{{'FORM.COUNTRY1' | translate}}</option>
          <option value="ln">{{'FORM.COUNTRY2' | translate}}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Miestas ar apskritis-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label>{{'FORM.CITY' | translate}}<span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item ">
        <select id="down2" #city>
          <option value="vilnius">Vilnius</option>
          <option value="kaunas">Kaunas</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Adresas-->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label for="address">{{'FORM.ADDRESS' | translate}}<span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <input type="text" name="address" value="" id="address" #address>
      </div>
    </div>
  </div>

  <!-- Telefonas -->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label for="phone">{{'FORM.TEL' | translate}} <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <input type="number" ng-maxlength="12" ng-minlength="8" name="phone" value="" id="phone" #phoneNumber>
    </div>
  </div>


  <!-- El.paštas -->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label for="email">{{'FORM.EMAIL' | translate}} <span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-4">
      <div class="form-item">
        <input type="email" id="email" name="email" value="" #email>
      </div>
    </div>
  </div>

  <!-- Mėnesinis atlyginimas atskaičius mokesčius -->
  <div class="row gutters">
    <div class="col col-4 text-right">
      <div class="form-item">
        <label for="salary">{{'FORM.SALARY' | translate}}<span class="req">*</span></label>
      </div>
    </div>
    <div class="col col-2">
      <div class="form-item">
        <input type="number" min="245" step="5" name="salary" id="salary" value="" #income>
      </div>
    </div>
  </div>

  <div class="form-item">
    <label><br></label>
    <button data-component="modal" data-target="#confirmation-modal">{{'FORM.FINISH1' | translate}}</button>
    <button type="submit" data-component="modal" data-target="#confirmation-modal"
            (click)="onSubmit(
            sum.value,
            term.value,
            payDay.value,
            name.value,
            surName.value,
            personalCode.value,
            documentType.value,
            documentNumber.value,
            country.value,
            city.value,
            address.value,
            phoneNumber.value,
            email.value,
            income.value)">{{'FORM.FINISH2' | translate}}</button>
  </div>

</form>


<!-- Confirmation modal-->
<div id="confirmation-modal" class="modal-box hide">
  <div class="modal">
    <span class="close"></span>
    <div class="modal-header">
      <h3>{{'FORM.FINISH3' | translate}}</h3>
    </div>
    <div class="modal-body">
      <h3>{{'FORM.CODE' | translate}}:
        <span class="code">{{trackingNumber}}</span>
      </h3>
    </div>
  </div>
</div>
