<div id="hero">
  <h3>{{ 'HOME.TITLE' | translate }}
    <img class="logo" src="assets/images/logo.jpg" alt="Swedbank logotype">
  </h3>
</div>

<router-outlet></router-outlet>

<select class="max-w5" id="langSelect" #langSelect (change)="translate.use(langSelect.value)">
  <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang
    }}
  </option>
</select>

<footer id="footer">
  <nav>
    <ul>
      <li>Tonigh we're going to drink, do you want to join?</li>
      <li>No loans, we promise <3</li>
    </ul>
  </nav>
  <p>© Team D 2017. All rights reserved.</p>
</footer>
