<div class="form form-border">
  <div class="row gutters">
    <div class="col col-6">
      <div class="form-item">
        <h3>Patikrinti paskolos statusą</h3>
        <hr>
        <div class="append w75">
          <input value="{{trackingNumber}}" type="text" name="search" placeholder="Įveskite turimą paskolos kodą..">
          <button (click)="searchLoan()" class="button outline" data-component="modal" data-target="#status-modal">Ieškoti</button>
        </div>
      </div>
    </div>
    <div class="col col-6">
      <div class="form-item">
      </div>
    </div>
  </div>
</div>

<!-- Modal on status -->
<div id="status-modal" class="modal-box hide">
  <div class="modal">
    <span class="close"></span>
    <div class="modal-header">
      <h3>Statusas</h3>
    </div>
    <div class="modal-body text-center">
      <h3>status
      </h3>
    </div>
  </div>
</div>
