<div class="form form-border">
  <h3>Vartojimo paskolos</h3>
  <hr>
  <br>

  <table id="results" class="sortable">
    <thead>
    <tr>
      <th>Suma</th>
      <th>Vartotojas</th>
      <th>Statusas</th>
      <th>Terminas</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>500</td>
      <td>Kazys</td>
      <td>
          <select class="max-w50">
            <option value="confirm">Patvirtintas</option>
            <option value="waiting">Laukiamas patvirtinimo</option>
            <option value="declined">Nepatvirtintas</option>
          </select>
      </td>
      <td>60</td>
    </tr>
    <tr>
      <td>9500</td>
      <td>Petras</td>
      <td>
        <select class="max-w50">
          <option value="confirm">Patvirtintas</option>
          <option value="waiting">Laukiamas patvirtinimo</option>
          <option value="declined">Nepatvirtintas</option>
        </select>
      </td>
      <td>20</td>
    </tr>
    <tr>
      <td>25500</td>
      <td>Stasys</td>
      <td>
        <select class="max-w50">
          <option value="confirm">Patvirtintas</option>
          <option value="waiting">Laukiamas patvirtinimo</option>
          <option value="declined">Nepatvirtintas</option>
        </select>
      </td>
      <td>5</td>
    </tr>

    <tr *ngFor="let list of adminPanels">
      <td>{{list.loanAmount}}</td>
      <td>{{list.clientName}}</td>
      <td>{{list.status}}</td>
      <td>{{list.loanTerm}}</td>
    </tr>


    </tbody>
  </table>

</div>

