<div class="form form-border" onload="calculatorHide()">

  <nav class="breadcrumbs">
    <ul>
      <li><a [routerLink]="['/']">{{'FORM.1' | translate}}</a></li>
      <li><span>Admin Panel</span></li>
    </ul>
  </nav>

  <h3>{{'ADMIN.TITLE' | translate}}</h3>
  <hr>
  <br>

  <table id="results" class="sortable">
    <thead>
    <tr>
      <th>{{'ADMIN.COL1' | translate}}</th>
      <th>{{'ADMIN.COL2' | translate}}</th>
      <th>{{'ADMIN.COL3' | translate}}</th>
      <th>{{'ADMIN.COL4' | translate}}</th>
      <th>Redaguoti</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let list of adminPanels">
      <td>{{list.loanAmount}}</td>
      <td>{{list.clientName}}</td>
      <td>{{list.status}}</td>
      <td>{{list.loanTerm}}</td>
      <td>
        <button data-component="modal"
                [attr.data-target]="'#' + list.clientName">Redaguoti
        </button>
      </td>

      <!-- Modal Edition-->
      <div id="{{list.clientName}}" class="modal-box hide"  >
        <div class="modal">
          <span class="close"></span>
          <div class="modal-header">
            <h3>Redagavimas</h3>
          </div>
          <div class="modal-body">

            <!-- Vardas -->
            <div class="row gutters">
              <div class="col col-6"><h6>Vardas</h6></div>
              <div class="col col-6">{{list.clientName}}</div>
            </div>

            <!-- Pavarde-->
            <div class="row gutters">
              <div class="col col-6"><h6>Pavarde</h6></div>
              <div class="col col-6">{{list.clientSurname}}</div>
            </div>

            <!-- Asmens dokumento tipas-->
            <div class="row gutters">
              <div class="col col-6"><h6>Asmens dokumento tipas</h6></div>
              <div class="col col-6">{{list.clientPersonalDocumentType}}</div>
            </div>

            <!-- Dokumento numeris-->
            <div class="row gutters">
              <div class="col col-6"><h6>Dokumento numeris</h6></div>
              <div class="col col-6">{{list.clientPersonalDocumentNumber}}</div>
            </div>

            <!-- Salis -->
            <div class="row gutters">
              <div class="col col-6"><h6>Šalis</h6></div>
              <div class="col col-6">{{list.country}}</div>
            </div>

            <!-- Miestas -->
            <div class="row gutters">
              <div class="col col-6"><h6>Miestas</h6></div>
              <div class="col col-6">{{list.city}}</div>
            </div>

            <!-- Adresas -->
            <div class="row gutters">
              <div class="col col-6"><h6>Adresas</h6></div>
              <div class="col col-6">{{list.address}}</div>
            </div>

            <!-- Telefono numeris -->
            <div class="row gutters">
              <div class="col col-6"><h6>Telefono numeris</h6></div>
              <div class="col col-6">{{list.phoneNumber}}</div>
            </div>

            <!-- Pastas -->
            <div class="row gutters">
              <div class="col col-6"><h6>Elektroninis paštas</h6></div>
              <div class="col col-6">{{list.email}}</div>
            </div>

            <!-- Mėnesinis atlyginimas atskaičius mokesčius -->
            <div class="row gutters">
              <div class="col col-6"><h6>Mėnesinis atlyginimas atskaičius mokesčius</h6></div>
              <div class="col col-6">{{list.income}}</div>
            </div>

            <br>
            <hr>

            <h5>Statusas</h5>
            <select class="max-w50" #status>
              <option value="Confirm">Patvirtintas</option>
              <option value="Pending">Laukiamas patvirtinimo</option>
              <option value="Declined">Nepatvirtintas</option>
            </select>

            <br>
            <hr>

            <div class="editButtons">
              <button (click)="changeStatus(status.value, list.loanId) " data-action="modal-close" class="button">Patvirtinti</button>
              <button class="button outline" data-action="modal-close" >Atmesti</button>
            </div>
          </div>
        </div>
        </div>

    </tr>


    </tbody>
  </table>

</div>

