<div class="form form-border">
  <h3>Vartojimo paskolos</h3>
  <hr>
  <br>

  <table id="results" class="sortable">
    <thead>
    <tr>
      <th>Suma</th>
      <th>Vartotojas</th>
      <th>Statusas</th>
      <th>Terminas</th>
      <th>Redaguoti</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let list of adminPanels">
      <td>{{list.loanAmount}}</td>
      <td>{{list.clientName}}</td>
      <td>{{list.status}}</td>
      <td>{{list.loanTerm}}</td>
      <td>
        <button data-component="modal" data-target="#my-modal">Redaguoti</button>
      </td>
    </tr>


    </tbody>
  </table>

</div>


<div id="my-modal" class="modal-box hide">
  <div class="modal">
    <span class="close"></span>
    <div class="modal-header">Modal Header</div>
    <div class="modal-body">...</div>
  </div>
</div>
